<mat-list>
  <ng-container *ngFor="let publication of data.data">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Made in heaven</mat-card-title>
        <mat-card-subtitle>madeinheaven@example.com</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>do</p>
      </mat-card-content>
      <mat-card-actions>do</mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
