<mat-list fxLayout="column" fxLayoutGap="10px" *ngIf="publicationPage">
  <!-- Options bar init -->
  <div fxLayout="row" fxLayoutAlign="end">
    <mat-form-field appearance="outline">
      <mat-label>Ordenamiento por fecha</mat-label>
      <mat-select value="desc" (selectionChange)="onChangeSelection($event)">
        <mat-option value="desc">Descendente</mat-option>
        <mat-option value="asc">Ascendente</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Options bar end -->

  <!-- publications init -->
  <mat-card *ngFor="let publication of publicationPage.data">
    <mat-card-header>
      <img mat-card-avatar src="{{publication.author.avatar}}">
      <mat-card-title>
        {{publication.author.firstName}} {{publication.author.lastName}}
      </mat-card-title>
      <mat-card-subtitle>{{publication.date | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <h1>{{publication.title}}</h1>
      <img src="{{publication.imageUrl}}" class="publication-image">
      {{publication.description}}
    </mat-card-content>
  </mat-card>
  <!-- publications end -->

  <!-- Paginator init -->
  <mat-card>
    <mat-paginator [length]="publicationPage.total" [pageSize]="10" [pageSizeOptions]="[1, 2, 5, 10]"
                   [pageIndex]="0" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  </mat-card>
  <!-- Paginator end -->

</mat-list>
